Degree/Practical(IP)/P4Q4/Trainers.xsd

<?xml version="1.0"?> 
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"> 
    <xs:element name="trainers"> 
        <xs:complexType> 
            <xs:sequence> 
                <xs:element name="trainer" type="trainerType" maxOccurs="unbounded" /> 
            </xs:sequence> 
        </xs:complexType> 
    </xs:element> 
    <xs:complexType name="trainerType"> 
        <xs:sequence> 
            <xs:element name="name" type="xs:string" /> 
            <xs:element name="qualifications" type="qualificationType" maxOccurs="unbounded" /> 
        </xs:sequence> 
        <xs:attribute name="trainerID" type="xs:ID" use="required" /> 
    </xs:complexType> 
    <xs:complexType name="qualificationType"> 
        <xs:sequence> 
            <xs:element name="title" type="xs:string" /> 
            <xs:element name="institution" type="xs:string" /> 
            <xs:element name="year" type="xs:gYear" /> 
        </xs:sequence> 
    </xs:complexType> 
</xs:schema>