Degree/Practical(IP)/P4Q5/Catalog.xsd

<?xml version="1.0"?>

<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="catalog"> 
        <xs:complexType> 
            <xs:sequence> 
                <xs:element name="book" type="bookType" maxOccurs="unbounded" /> 
            </xs:sequence> 
        </xs:complexType> 
    </xs:element> 
    <xs:complexType name="bookType"> 
        <xs:sequence> 
            <xs:element name="title" type="xs:string" /> 
            <xs:element name="author" type="xs:string" /> 
            <xs:element name="publisher" type="xs:string" /> 
            <xs:element name="bookISBN" type="bookISBNType" />
        </xs:sequence> 
    </xs:complexType> 
    <xs:complexType name="ISBN">
        <xs:sequence> 
            <xs:choice>
                <xs:element name="bookISBN10" type="xs:string"/>
                <xs:element name="bookISBN13" type="xs:string"/>
            </xs:choice>
        </xs:sequence> 
    </xs:complexType>
</xs:schema>
